<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/logo_only.png" alt="Wehanda Logo">
  </div>
  <div class="navbar-container">
    <a href="#home-section" class="menu-link">Home</a>
    <a href="#about-section" class="menu-link">About</a>
    <a href="#pricing-section" class="menu-link">Pricing</a>
    <a href="#contact-section" class="menu-link">Contact</a>
    <a href="https://admin.wehanda.com/login" target="_blank" class="menu-link customer-portal">Customer Portal</a>
  </div>
  <div class="hamburger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>
<div class="mobile-menu" [ngClass]="{'show': showMobileMenu}">
  <a href="#home-section" class="menu-link" (click)="toggleMenu()">Home</a>
  <a href="#about-section" class="menu-link" (click)="toggleMenu()">About</a>
  <a href="#pricing-section" class="menu-link" (click)="toggleMenu()">Pricing</a>
  <a href="#contact-section" class="menu-link" (click)="toggleMenu()">Contact</a>
  <a href="https://admin.wehanda.com/login" target="_blank" class="menu-link customer-portal"
    (click)="toggleMenu()">Customer Portal</a>
</div>
<router-outlet></router-outlet>